:root {
  --primary: #143050;     /* Soft blue for header */
  --accent: #ee9b00;      /* Orange accent */
  --light: #e3e9f7;       /* Light background */
  --dark: #103255;        /* Dark text */
  --paid: #143050;        /* Green for paid */
  --unpaid: #e74c3c;      /* Red for unpaid */
  --total: #300101;       /* Purple for total */
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: var(--light);
  color: var(--dark);
}

header {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 15px 15px;
}

/* Home Icon */
.home-icon {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-icon svg {
  width: 25px;
  height: 25px;
  transition: transform 0.3s, fill 0.3s; 
  margin-top: -8px;
  margin-bottom: -8px;
}

.home-icon:hover svg {
  transform: scale(1.2);
  fill: var(--light);
}


header h1 {
  margin: 0;
  font-size: 1.3rem;
}

header p {
  margin-top: 5px;
  opacity: 0.9;
  font-size: 0.8rem;
}

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.rep-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  border-top: 5px solid var(--accent);
}



.rep-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.rep-card h2 {
  margin-top: 0;
  color: var(--primary);
}

.rep-card p {
  margin: 8px 0;
  font-size: 0.95rem;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.6rem;
  color: gray;
}
